{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
Buscas trabajo ?
{% endblock titulo %}

{% block imagen %}
  {% static 'img/generales.jpg' %}
{% endblock imagen %}

{% block titulo_principal %}
  Buscas Trabajo

  Contactate con nosotros y .....
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block post %}

<form method="POST">
      {% csrf_token %}

      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}
      <h2>Cargá todos tus datos, sino "No se Guarda"</h2>
        <div class="col-md-8 col-md-offset-2">
			     <div class="form-group">
             <label>Nombres</label>
             <input type="text" name="nombre">
             <br/>
             <label>Apellidos</label>
             <input type="text" name="apellidos">
             <br/>
             <label>Email</label>
             <input type="text" name="correo" >
             <br/>
             <label>Direccion</label>
             <input type="text" name="direccion" >
             <br/>
             <label>Telefono 1</label>
             <input type="text" name="telefono1" >
             <br/>
             <label>Telefono 2</label>
             <input type="text" name="telefono2" >
             <br/>
             <label>Curriculum</label>
             <input type="text" name="experiencia" size="45"  >
           </div>
 		      </div>
        <div class="col-md-8 col-md-offset-2">
			       <div class="form-group">
				           <button class="btn btn-primary" type="submit">Guardar</button>
			        </div>
        </div>
      {% endif %}
    </form>
{% endblock post %}
